@model LAB2.Models.DatabaseModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Data Base";
}
<h1>Create New</h1>

<form asp-action="Create">
    <div>
        <label asp-for="FirstName"></label>
       
    <input asp-for="FirstName" />
</div>
<div>
    <label asp-for="SecondName"></label>
    <input asp-for="SecondName" />
</div>
<div>
    <label asp-for="Age"></label>
    <input asp-for="Age" type="number" />
</div>
<div>
    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
</div>
<div>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
</div>
<button type="submit">Create</button>
</form>
<a asp-action="Index">Back to List</a>